<!DOCTYPE html>

<html>
    <head>
        <link rel="icon" href="/img/weather.png">
        <link rel="stylesheet" href="/css/styles.css">
    </head>
    <body>
        <div class="main-content">
             {{>header}}
             <p>I'm a venezuelan, musician, proactive person.</p>
             <img src="/img/salo+cello.jpg" class="sal-cello" alt="Salomon">
        </div>
        {{>footer}}
    </body>
</html>