<!DOCTYPE html>

<html>
    <head>
        <link rel="icon" href="/img/weather.png">
        <link rel="stylesheet" href="/css/styles.css">
    </head>
    <body> 
        <div class="main-content">
             {{>header}}
             <p>I don't have a lot of options here yet, but any doubts that i can help with, please let me know at this email:
                sajosaca@gmail.com :)
             </p>
        </div>
        {{>footer}}
    </body>
</html>